---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import PageHeader from "@/components/PageHeader.astro";

const { drink_folder }: { drink_folder: string } = config.settings;
const bottles = await getTaxonomy(drink_folder, "bottles");
const allBottles = await getAllTaxonomy(drink_folder, "bottles");
---

<Base title={"Bottles"}>
  <PageHeader title={"Bottles"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          bottles.map((bottle: string) => {
            const count = allBottles.filter((c) => c === bottle).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/drinks/bottles/${bottle}`}
                  class="block rounded bg-theme-light px-4 py-2 text-xl text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark"
                >
                  {bottle}{" "}
                  <span class="ml-2 rounded bg-body px-2 dark:bg-darkmode-body">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
