<!-- LIGHT PARTICLES -->
<div class="">
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
  <div class="dark:light-particle"></div>
</div>
