---
import Social from "@/components/Social.astro";
import social from "@/config/social.json";
---

<footer class="mt-auto">
  <div class="container">
    <div class="row items-center py-2 flex-col-reverse md:flex-row">
      <div class="mb-2 text-center md:col-6 lg:mb-0 md:text-left">
        <a href="/terms"> &copy; 2024 Reed Nelson</a>
      </div>
      <div class="mb-2 text-center md:col-6 md:mb-0 md:mt-0 md:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
</footer>
