---
import { plainify } from "@/lib/utils/textConverter";
import Social from "./Social.astro";

const { data } = Astro.props;
const { title, social } = data.data;
---

<div
  class="rounded bg-theme-light p-8 text-center dark:bg-darkmode-theme-light"
>
  <h4 class="mb-3">
    <a href={`/projects/${data.slug}`}>{title}</a>
  </h4>
  <p class="mb-4">
    {plainify(data.body?.slice(0, 100))}
  </p>
  <Social source={social} className="social-icons" />
</div>
