---
import DrinkCard from "@/components/DrinkCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { lowerHumanize } from "@/lib/utils/textConverter";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/components/PageHeader.astro";

export async function getStaticPaths() {
  const spirits = await getTaxonomy(
    config.settings.drink_folder,
    "spirits"
  );

  return spirits.map((spirit) => {
    return {
      params: { spirit },
    };
  });
}

const { spirit } = Astro.params;
const posts = await getSinglePage(config.settings.drink_folder);
const filterBySpirits = taxonomyFilter(posts, "spirits", spirit!);
---

<Base meta_title={lowerHumanize(spirit)}>
  <PageHeader title={lowerHumanize(spirit)} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          filterBySpirits.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <DrinkCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
