---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import PageHeader from "@/components/PageHeader.astro";

const { drink_folder }: { drink_folder: string } = config.settings;
const spirits = await getTaxonomy(drink_folder, "spirits");
const allSpirits = await getAllTaxonomy(drink_folder, "spirits");
---

<Base meta_title={"Spirits"}>
  <PageHeader title={"Spirits"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          spirits.map((spirit: string) => {
            const count = allSpirits.filter((c) => c === spirit).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/drinks/spirits/${spirit}`}
                  class="block rounded bg-theme-light px-4 py-2 text-xl text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark"
                >
                  {spirit}{" "}
                  <span class="ml-2 rounded bg-body px-2 dark:bg-darkmode-body">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
