---
import Base from "@/layouts/Base.astro";
import Background from "@/components/Background.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { Button, Feature } from "@/types";
import { getEntryBySlug } from "astro:content";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}

const homepage = await getEntryBySlug("homepage", "-index");
const { title, meta_title, banner }: Homepage = homepage.data;
---

<Base
  title={title}
  meta_title={meta_title}
>
  <Background />
  <!-- Banner -->
  <section class="section pt-14 background-area glob">
    <div class="container">
      <div class="row justify-center">
        <div class="mb-16 text-center lg:col-7">
          <h1 set:html={markdownify(banner.title)} class="mb-4" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->
</Base>
