---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const riddles = await getEntryBySlug("riddles", "-index");
const { Content } = await riddles.render();
const { title, meta_title } = riddles.data;
---

<Base
  title={title}
  meta_title={meta_title}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container"> 
      <div class="row justify-center">
        <div class="col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
