---
import type { PuzzlesEntry } from "@/types";

interface Props {
  entry: PuzzlesEntry;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
---

<div
  class="h-full m-2 p-0.5 bg-gradient-to-br gradient rounded-tl-lg"
>
  <div class="glass h-full rounded-tl-lg intersect:animate-fadeUpLeft opacity-0">
    <a class="group hover:opacity-100" href={`/puzzles/${entry.id}`}>
      <div class="rounded-lg px-4 py-4">
        <h4 class="pb-2">
          {title}
        </h4>
        <p class="">
          {description}
        </p>
      </div>
    </a>
  </div>
</div>
