---
import BaseLayout from "@components/base/BaseLayout.astro";
import PuzzlesCard from "@components/puzzles/Card.astro";
import PageHeader from "@components/common/PageHeader.astro";
import type { PuzzlesEntry } from "@/types";

interface Props {
  entryIndex: PuzzlesEntry;
  entries: PuzzlesEntry[];
}

const { entryIndex, entries }: Props = Astro.props;
---

<BaseLayout
  title={entryIndex.data.title}
  description={entryIndex.data.description}
>
  <PageHeader title={entryIndex.data.title} />
  <section class="section m-2">
    <div class="container">
      <div class="row">
        {
          entries.map((entry) => (
            <div class="md:col-6 lg:col-4 p-2 mb-4">
              <PuzzlesCard entry={entry} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
