---
interface Props {
  label: string;
  link?: string;
  newtab?: boolean;
}

const {
  label,
  link,
  newtab = false,
}: Props = Astro.props;
---

<a
  href={link} 
  target=`${newtab ? "_blank" : ""}`
  class="flex px-2 py-0.5 rounded-sm border text-center cursor-pointer duration-200 hover:opacity-100
       border-txt-s dark:border-darkmode-txt-s text-txt-s dark:text-darkmode-txt-s
         hover:shadow-[inset_0px_0px_0px_2px_]"
>
  {label}
</a>

